.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  min-width: 280px;
  padding: 10px 17px;
  border-radius: 5px;
  border: 1px solid $color-white;
  transition: $trans-default;

  &::after {
    content: url('../img/content/new-arrow.svg');
    margin-left: 30px;
  }

  &--dark {
    border: 1px solid $color-tundora;

    &::after {
      content: url('../img/content/new-arrow-dark.svg');
    }
  }

  &--filled {
    border: 1px solid $color-tundora;
    background: $color-tundora;
    color: $color-white;
    justify-content: center;
    
    &::after {
      display: none;
    }

    @include hover-focus {
      background-color: $color-equator;
    }
  }

  @include hover-focus {
    border: 1px solid $color-equator;
    background-color: $color-equator;
    color: #2C2927;

    &::after {
      content: url('../img/content/new-arrow-dark.svg');
    }
  }

  // @include vp-767 {
  //   width: 100%;
  // }
}