.factory {
  @include adaptiveFull('padding-top', 60, 48, 48);
  @include adaptiveFull('padding-bottom', 80, 48, 48);
  color: $color-tundora;
  position: relative;
    
  &::before {
    content: '';
    position: absolute;
    @include adaptiveFull('top', 30, 30, 20);
    @include adaptiveFull('right', 130, 36, 16);
    @include adaptiveFull('width', 70, 55, 35);
    @include adaptiveFull('height', 106, 80, 53);
    background-image: url(../img/content/o-new.svg);
    background-size: 100% 100%;
  }
}
.factory__title {
  color: $color-equator;
  margin: 0 0 var(--default-margin);
  max-width: 820px;

  @include animation-text-from-left;
}
.factory__subtitle {
  max-width: 820px;
  margin: 0 0 var(--default-margin);

  @include animation-text-from-left;
}
.factory__description {
  max-width: 820px;
  line-height: 1.7;
  margin: 0 0 var(--default-margin);
}
.factory__facts {
}
.factory__facts-title {
  color: $color-equator;
  margin: 0 0 var(--default-margin);
}
.factory__facts-list {
  @include reset-list;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  @include vp-1279 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
}
.factory__facts-list-item {
  border-left: 1px solid $color-equator;
  padding: 10px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &:last-child {
    border-right: 1px solid $color-equator;

    @include vp-1279 {
      grid-column: span 2;
    }

    @include vp-767 {
      grid-column: span 1;
      border: unset;
    }
  }

  @include vp-767 {
    border: unset;
    border-bottom: 1px solid $color-equator;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
  }
}
.factory__facts-list-item-text {
  @include adaptiveDesktopToMobile('margin-right', 50, 0);

  @include vp-767 {
    order: 1;
    margin: 0 0 0 30px;
  }
}
.factory__facts-list-item-value {
  @include adaptiveFull('font-size', 48, 36, 28);
}
.factory__facts-list-item-name {
}
.factory__facts-list-item-icon {
  @include vp-767 {
    max-width: 48px;
  }
}