<section class="article article--with-logo">
  <div class="container">
    <div class="article__text">
      <h2 class="article__title title-h2">О компании</h2>
      <p class="article__subtitle title-h4">Группа компаний «Сыробогатов» — это крупнейший российский производитель сыров</p>
      <p class="article__description text-norm">
        Холдинг включает две производственные площадки: завод по производству плавленых и творожных сыров в Верхней Пышме и завод твердых и полутвердых сыров в Орле, а также дистрибуционный блок по всей России и группа компаний «Сыробогатов».<br><br>

        Продукция производится на оборудовании мирового уровня с тщательным контролем всех технологических процессов. Благодаря высокому качеству продукции, многоэтапной системе контроля качества и эффективной логистике мы занимаем лидирующие позиции в отрасли с 2014 года.
      </p>
    </div>
    <img src="img/content/333.png" alt="" class="article__photo" width="960" height="800">
  </div>
</section>
<section class="years years--dark">
  <div class="years__slide">
    <div class="container">
      <div class="years__photo-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
        </div>
      </div>
      
      <div class="years__slide-text">
        <h3 class="years__slide-title title-h3">Наша история</h3>
        <div class="years__slide-years swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">2023</div>
            <div class="swiper-slide">2022</div>
            <div class="swiper-slide">2021</div>
            <div class="swiper-slide">2020</div>
            <div class="swiper-slide">2019</div>
            <div class="swiper-slide">2018</div>
            <div class="swiper-slide">2017</div>
            <div class="swiper-slide">2016</div>
            <div class="swiper-slide">2015</div>
          </div>
          <div class="swiper-navigation">
            <button class="years__slide-navigation-btn years__slide-navigation-btn--prev"></button>
            <button class="years__slide-navigation-btn years__slide-navigation-btn--next"></button>
          </div>
        </div>

        <div class="years__text-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>