<section class="advantages">
  <div class="container">
    <h2 class="advantages__title title-h5">Преимущества</h2>
    <div class="advantages__wrapper">
      <img src="img/content/o.svg" alt="" class="advantages__logo" width="91" height="138">
      <p class="advantages__description">
        Мы ценим каждого нашего сотрудника и стараемся, чтобы у наших сотрудников были хорошие условия труда и возможность проявить себя.
      </p>
    </div>
    <h3 class="advantages__list-title title-h5">Мы предоставляем:</h3>
    <ul class="advantages__list">
      <li class="advantages__item">Возможность работать рядом с домом;</li>
      <li class="advantages__item">Достойное вознаграждение;</li>
      <li class="advantages__item">Официальное трудоустройство с первого дня работы;</li>
      <li class="advantages__item">Работу в команде единомышленников;</li>
      <li class="advantages__item">Возможность развиваться по выбранной карьерной траектории;</li>
      <li class="advantages__item">Расширенный пакет льгот и бенефитов (материальная помощь, бесплатное питание, корпоративное обучение, подарки детям сотрудников на Новый год, подарки первоклассникам и пр.)</li>
      <li class="advantages__item">Доставку персонала;</li>
      <li class="advantages__item">Насыщенную корпоративную жизнь.</li>
    </ul>
  </div>
</section>