<section class="banner">
  <div class="banner__slider swiper">
    <div class="swiper-wrapper">
      <div class="banner__slide swiper-slide">
        <img src="img/content/banner-about.png" alt="" class="banner__slide-img" width="1920" height="910">
        <h3 class="banner__slide-title title-h3">Наши сыры — пример качественной продукции российского производства</h3>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-navigation">
      <button class="swiper-navigation__btn swiper-navigation__btn--prev"></button>
      <button class="swiper-navigation__btn swiper-navigation__btn--next"></button>
    </div>
  </div>
</section>