<section class="banner banner--main">
  <div class="banner__slider swiper">
    <div class="swiper-wrapper">
      <div class="banner__slide swiper-slide">
        <video src="videos/1.mp4" alt="" class="banner__slide-img" width="1920" height="910" muted="muted" playsinline autoplay loop></video>
        <h3 class="banner__slide-title title-h2">Наша миссия — производство качественного российского сыра</h3>
        <p class="banner__slide-subtitle"></p>
      </div>
      <div class="banner__slide swiper-slide">
        <img src="img/content/banner.png" alt="" class="banner__slide-img" width="1920" height="910">
        <h3 class="banner__slide-title title-h2">Наша миссия — производство качественного российского сыра</h3>
        <p class="banner__slide-subtitle"></p>
      </div>
      <div class="banner__slide swiper-slide">
        <img src="img/content/banner.png" alt="" class="banner__slide-img" width="1920" height="910">
        <h3 class="banner__slide-title title-h2">Наша миссия — производство качественного российского сыра</h3>
        <p class="banner__slide-subtitle"></p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-navigation">
      <button class="swiper-navigation__btn swiper-navigation__btn--prev"></button>
      <button class="swiper-navigation__btn swiper-navigation__btn--next"></button>
    </div>
  </div>
</section>