<section class="banner banner--career">
  <div class="banner__slider swiper">
    <div class="swiper-wrapper">
      <div class="banner__slide swiper-slide">
        <img src="img/content/banner-career.png" alt="" class="banner__slide-img" width="1920" height="750">
        <h3 class="banner__slide-title title-h3">Присоединяйтесь к&nbsp;команде единомышленников</h3>
        <button class="banner__btn btn" data-open-modal="feedback">Хочу у вас работать</button>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-navigation">
      <button class="swiper-navigation__btn swiper-navigation__btn--prev"></button>
      <button class="swiper-navigation__btn swiper-navigation__btn--next"></button>
    </div>
  </div>
</section>