<section class="banner banner--small">
  <div class="banner__slider swiper">
    <div class="swiper-wrapper">
      <div class="banner__slide swiper-slide">
        <img src="img/content/banner-factory-1.png" alt="" class="banner__slide-img" width="1920" height="910">
      </div>
      <div class="banner__slide swiper-slide">
        <img src="img/content/banner-factory-1.png" alt="" class="banner__slide-img" width="1920" height="910">
      </div>
      <div class="banner__slide swiper-slide">
        <img src="img/content/banner-factory-1.png" alt="" class="banner__slide-img" width="1920" height="910">
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-navigation">
      <button class="swiper-navigation__btn swiper-navigation__btn--prev"></button>
      <button class="swiper-navigation__btn swiper-navigation__btn--next"></button>
    </div>
  </div>
</section>