<section class="capacity">
  <div class="container">
    <h2 class="capacity__title title-h5">Мощности производства в месяц</h2>
    <ul class="capacity__list">
      <li class="capacity__item">
        <div class="capacity__item-subtitle">полутвёрдых сыров</div>
        <div class="capacity__item-value">1 500</div>
        <div class="capacity__item-description">тонн</div>
      </li>
      <li class="capacity__item">
        <div class="capacity__item-subtitle">плавленых сыров</div>
        <div class="capacity__item-value">1 500</div>
        <div class="capacity__item-description">тонн</div>
      </li>
      <li class="capacity__item">
        <div class="capacity__item-subtitle">творожных сыров</div>
        <div class="capacity__item-value">940</div>
        <div class="capacity__item-description">тонн</div>
      </li>
      <li class="capacity__item">
        <div class="capacity__item-subtitle">сливочного масла</div>
        <div class="capacity__item-value">180</div>
        <div class="capacity__item-description">тонн</div>
      </li>
    </ul>
  </div>
</section>