<section class="capacity capacity--career">
  <div class="container">
    <h2 class="capacity__title title-h5">О компании в цифрах</h2>
    <ul class="capacity__list">
      <li class="capacity__item">
        <div class="capacity__item-subtitle">сотрудников во всех филиалах</div>
        <div class="capacity__item-value">1 700</div>
      </li>
      <li class="capacity__item">
        <div class="capacity__item-subtitle">городов, где размещены вакансии</div>
        <div class="capacity__item-value">10</div>
      </li>
      <li class="capacity__item">
        <div class="capacity__item-subtitle">средний срок работы сотрудников</div>
        <div class="capacity__item-value">10 лет</div>
      </li>
      <li class="capacity__item">
        <div class="capacity__item-subtitle">опыт на рынке сыроделия</div>
        <div class="capacity__item-value">20 лет</div>
      </li>
    </ul>
  </div>
</section>