<section class="career">
  <div class="career__banner">
    <img src="img/content/career-photo.png" alt="" class="career__photo" width="1920" height="700">
    <div class="container">
      <div class="career__banner-title title-h3">Присоединяйтесь к команде единомышленников</div>
    </div>
  </div>
  <div class="container">
    <div class="career__wrapper">
      <h2 class="career__title title-h2">Карьера</h2>
      <div class="career__column">
        <p class="career__description">
          Группа компаний «Сыробогатов» — надежный работодатель с современным и демократичным подходом. Мы ценим сотрудников, которые с нами уже много лет, и с радостью приветствуем новых специалистов.
          Присоединяйтесь к нашей команде, где каждый важен и имеет возможность раскрыть свой потенциал!
        </p>
        <a href="#" class="career__link btn btn--dark">Найти свою вакансию</a>
      </div>
    </div>
  </div>
</section>