<section class="employment">
  <div class="container">
    <h2 class="employment__title title-h3">Этапы трудоустройства</h2>
    <div class="employment__wrapper">
      <div class="employment__slider swiper">
        <div class="swiper-wrapper">
          <div class="employment__slide swiper-slide">
            <h3 class="employment__slide-title title-h4">Шаг 1</h3>
            <p class="employment__slide-description text-norm">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

              Aenean massa. Cum natoque penatibus et magnis dis parturient montes, nascetu.
            </p>
          </div>
          <div class="employment__slide swiper-slide">
            <h3 class="employment__slide-title title-h4">Шаг 1</h3>
            <p class="employment__slide-description text-norm">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

              Aenean massa. Cum natoque penatibus et magnis dis parturient montes, nascetu.
            </p>
          </div>
          <div class="employment__slide swiper-slide">
            <h3 class="employment__slide-title title-h4">Шаг 1</h3>
            <p class="employment__slide-description text-norm">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

              Aenean massa. Cum natoque penatibus et magnis dis parturient montes, nascetu.
            </p>
          </div>
          <div class="employment__slide swiper-slide">
            <h3 class="employment__slide-title title-h4">Шаг 1</h3>
            <p class="employment__slide-description text-norm">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

              Aenean massa. Cum natoque penatibus et magnis dis parturient montes, nascetu.
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-navigation">
          <button class="swiper-navigation__btn swiper-navigation__btn--prev"></button>
          <button class="swiper-navigation__btn swiper-navigation__btn--next"></button>
        </div>
      </div>
      <img src="img/content/employment.png" alt="" class="employment__photo employment__photo--desktop" width="540" height="700">
      <img src="img/content/employment-mobile.png" alt="" class="employment__photo employment__photo--mobile">
    </div>
  </div>
</section>