<section class="factory">
  <div class="container">
    <h2 class="factory__title title-h2">Завод в Орле</h2>
    <p class="factory__subtitle title-h4">Современное производство и отборное сырье — залог качественной продукции!</p>
    <p class="factory__description text-norm">Завод в Орле включает в себя несколько цехов, оснащенных самым современным оборудованием. На производстве расположены цех приемки и обработки сырья, цех по производству полутвердых сыров, цех по производству масла, цех сгущения и сушки сыворотки, цех производства рассольных сыров, цех нарезки и упаковки сыров, лаборатория по контролю качества продуктов.</p>
    <div class="factory__facts">
      <h3 class="factory__facts-title">Объемы и мощности в месяц</h3>
      <ul class="factory__facts-list">
        <li class="factory__facts-list-item">
          <div class="factory__facts-list-item-text">
            <div class="factory__facts-list-item-value title-h3">1 500 тонн</div>
            <div class="factory__facts-list-item-name text-norm">полутвердых сыров</div>
          </div>
          <img src="img/content/facts-4.svg" alt="" class="factory__facts-list-item-icon">
        </li>
        <li class="factory__facts-list-item">
          <div class="factory__facts-list-item-text">
            <div class="factory__facts-list-item-value title-h3">180 тонн</div>
            <div class="factory__facts-list-item-name text-norm">сливочного масла</div>
          </div>
          <img src="img/content/facts-5.svg" alt="" class="factory__facts-list-item-icon">
        </li>
        <li class="factory__facts-list-item">
          <div class="factory__facts-list-item-text">
            <div class="factory__facts-list-item-value title-h3">600 тонн</div>
            <div class="factory__facts-list-item-name text-norm">сухой сыворотки</div>
          </div>
          <img src="img/content/facts-6.svg" alt="" class="factory__facts-list-item-icon">
        </li>
      </ul>
    </div>
  </div>
</section>

@@include("source/html/components/quote.html")

<section class="gallery">
  <div class="gallery__slider swiper">
    <div class="swiper-wrapper">
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/factory.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <p class="gallery__slide-subtitle title-h5">Производственные цеха</p>
            <h3 class="gallery__slide-title title-h3">Цех по производству полутвердых сыров</h3>
            <p class="gallery__slide-description text-norm">
              Установлена автоматизированная линия по выработке полутвердых сыров. Линия обеспечивает полный цикл переработки молока: от приемки до расфасовки сыра.<br><br>

              Каждая рабочая единица оборудования подключена к единой системе автоматики и управления.
            </p>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/factory.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <p class="gallery__slide-subtitle title-h5">Производственные цеха</p>
            <h3 class="gallery__slide-title title-h3">Участок упаковки сыра</h3>
            <p class="gallery__slide-description text-norm">Состоит из двух линий, позволяющих упаковывать сыр в пленку, используя технологии вакуумирования.</p>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/factory.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <p class="gallery__slide-subtitle title-h5">Производственные цеха</p>
            <h3 class="gallery__slide-title title-h3">Участок упаковки сыра</h3>
            <p class="gallery__slide-description text-norm">Состоит из двух линий, позволяющих упаковывать сыр в пленку, используя технологии вакуумирования.</p>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="years years--reverse years--yellow">
  <div class="years__slide">
    <div class="container">
      <div class="years__photo-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/content/gallery-1.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
        </div>
      </div>
      
      <div class="years__slide-text">
        <h3 class="years__slide-title title-h3">История завода</h3>
        <div class="years__slide-years swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">2023</div>
            <div class="swiper-slide">2022</div>
            <div class="swiper-slide">2021</div>
            <div class="swiper-slide">2020</div>
            <div class="swiper-slide">2019</div>
            <div class="swiper-slide">2018</div>
            <div class="swiper-slide">2017</div>
            <div class="swiper-slide">2016</div>
            <div class="swiper-slide">2015</div>
          </div>
          <div class="swiper-navigation">
            <button class="years__slide-navigation-btn years__slide-navigation-btn--prev"></button>
            <button class="years__slide-navigation-btn years__slide-navigation-btn--next"></button>
          </div>
        </div>

        <div class="years__text-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск производства сухой сыворотки.</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2022</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2021</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2020</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2019</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2018</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2017</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2016</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2015</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="article">
  <div class="container">
    <div class="article__text">
      <h2 class="article__title title-h2">Сухая сыворотка</h2>
      <p class="article__subtitle title-h4">Сухая сыворотка — полезный молочный продукт, который мы производим на Орловском сырном комбинате</p>
      <p class="article__description text-norm">
        Молочная сыворотка — побочный продукт, который получается в процессе изготовления сыра. В процессе ее очистки, пастеризации, сгущения и сушки получается порошок белого или желтоватого цвета. Он имеет высокую питательную ценность и может использоваться в пищевой промышленности, кулинарии, изготовлении спортивного питания и производстве косметических средств.
      </p>
    </div>
    <img src="img/content/factory-2.png" alt="" class="article__photo" width="960" height="700">
  </div>
</section>
<section class="facts">
  <div class="container">
    <h2 class="facts__title title-h4">Полезные свойства сухой сыворотки</h2>
    <div class="facts__slider swiper">
      <div class="swiper-wrapper">
        <div class="facts__item swiper-slide">
          <h3 class="facts__item-title title-h5">Много белка</h3>
          <p class="facts__item-description text-norm">Сыворотка является ценным источником протеина, который необходим для роста и восстановления тканей, а также для поддержания здоровой мышечной массы.</p>
        </div>
        <div class="facts__item swiper-slide">
          <h3 class="facts__item-title title-h5">Источник витаминов и минералов</h3>
          <p class="facts__item-description text-norm">В молочной сыворотке содержатся витамины группы B (включая B12), минералы (кальций, фосфор, цинк, калий, магний), никотиновая и аскорбиновая кислоты.</p>
        </div>
        <div class="facts__item swiper-slide">
          <h3 class="facts__item-title title-h5">Легкоусвояемость</h3>
          <p class="facts__item-description text-norm">Благодаря высокому содержанию сывороточных белков продукт легко усваивается организмом. Это делает сухую сыворотку отличным вариантом для тех, у кого есть проблемы с усвоением других видов белка.</p>
        </div>
        <div class="facts__item swiper-slide">
          <h3 class="facts__item-title title-h5">Поддержка иммунной системы</h3>
          <p class="facts__item-description text-norm">Сухая сыворотка содержит иммуноглобулины и лактоферрин. Они помогают укрепить иммунную систему и повысить сопротивляемость организма инфекциям.</p>
        </div>
        <div class="facts__item swiper-slide">
          <h3 class="facts__item-title title-h5">Антиоксидантные свойства</h3>
          <p class="facts__item-description text-norm">В сыворотке присутствует глутатион — антиоксидант, который защищает клетки от воздействия свободных радикалов и снижает окислительный стресс в организме.</p>
        </div>
      </div>
      <div class="swiper-controls">
        <div class="swiper-pagination"></div>
        <div class="swiper-navigation">
          <button class="swiper-navigation-btn swiper-navigation-btn--prev"></button>
          <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gallery gallery--mini">
  <div class="gallery__slide">
    <div class="container">
      <img src="img/content/bad.png" alt="" class="gallery__slide-img" width="960" height="700">
      <div class="gallery__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="gallery__slide-text">
              <p class="gallery__slide-subtitle title-h5">Как использовать сухую сыворотку</p>
              <h3 class="gallery__slide-title title-h3">БАДы1</h3>
              <p class="gallery__slide-description text-norm">
                Молочная сыворотка нормализует работу ЖКТ, регулирует процесс обмена веществ, укрепляет иммунитет, понижает артериальное давление, улучшает состояние кожи и волос.
              </p>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery__slide-text">
              <p class="gallery__slide-subtitle title-h5">Как использовать сухую сыворотку</p>
              <h3 class="gallery__slide-title title-h3">БАДы2</h3>
              <p class="gallery__slide-description text-norm">
                Молочная сыворотка нормализует работу ЖКТ, регулирует процесс обмена веществ, укрепляет иммунитет, понижает артериальное давление, улучшает состояние кожи и волос.
              </p>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="gallery__slide-text">
              <p class="gallery__slide-subtitle title-h5">Как использовать сухую сыворотку</p>
              <h3 class="gallery__slide-title title-h3">БАДы3</h3>
              <p class="gallery__slide-description text-norm">
                Молочная сыворотка нормализует работу ЖКТ, регулирует процесс обмена веществ, укрепляет иммунитет, понижает артериальное давление, улучшает состояние кожи и волос.
              </p>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feedback">
  <div class="container">
    <div class="feedback__text">
      <h2 class="feedback__title title-h4">Контакты по вопросам поставок сыворотки</h2>
      <div class="feedback__person">
        <h3 class="feedback__person-name">Частухин Дмитрий Анатольевич</h3>
        <a href="tel:+7 (343) 311-00-31" class="feedback__person-contact">+7 (343) 311-00-31 (доб. 1180)</a>
        <a href="tel:+7 (922) 141-40-07" class="feedback__person-contact">+7 (922) 141-40-07</a>
        <a href="mailto:d.chastuhin@sirobogatov.ru" class="feedback__person-contact">d.chastuhin@sirobogatov.ru</a>
      </div>
    </div>
    <div class="feedback__form form" data-form-validate data-callback="base">
      <form method="post" novalidate>
        <h2 class="form__title title-h3 grid-column-2">Напишите нам</h2>
        <div class="custom-input" data-validate-type="text" data-limitation="name" data-message-base="Поле обязательно к заполнению" data-message-extra="Проверьте корректность заполнения поля" data-required="">
          <label>
            <input type="text" name="user-name-1" class="" placeholder="Фамилия">
          </label>
        </div>
        <div class="custom-input" data-validate-type="text" data-limitation="name" data-message-base="Поле обязательно к заполнению" data-message-extra="Проверьте корректность заполнения поля" data-required="">
          <label>
            <input type="text" name="user-name-2" class="" placeholder="Имя">
          </label>
        </div>
        <div class="custom-input" data-validate-type="email" data-message-base="Поле обязательно к заполнению" data-required="">
          <label>
            <input type="email" name="user-email" placeholder="Email">
          </label>
        </div>
        <div class="custom-input" data-validate-type="phone" data-on-input-validate="" data-message-base="Поле обязательно к заполнению" data-message-extra="Проверьте корректность заполнения поля" data-required="" data-phone-length="18">
          <label>
            <input type="tel" name="user-phone" placeholder="Телефон">
          </label>
        </div>
        <div class="custom-input grid-column-2" data-validate-type="text" data-message-base="Поле обязательно к заполнению" data-required="">
          <label>
            <input type="text" name="message" class="" placeholder="Сообщение">
          </label>
        </div>
        <button class="form__submit btn btn--filled" type="submit">Отправить</button>
        <div class="form__agreement">Нажимая кнопку, Вы соглашаетесь с нашей <a href="#" target="_blank">политикой обработки персональных данных</a></div>
      </form>
      <div class="form__success">
        <button class="form__success-close">
          <img src="img/content/close-white.svg" alt="" class="form__success-close-icon" width="15" height="15">
        </button>
        <p class="form__success-text title-h4">Ваше сообщение успешно отправлено.</p>
      </div>
    </div>
  </div>
</section>