<section class="factory">
  <div class="container">
    <h2 class="factory__title title-h2">Завод в Верхней Пышме</h2>
    <p class="factory__subtitle title-h4">Современное производство и строгий контроль качества</p>
    <p class="factory__description text-norm">На территории завода действуют две производственные площадки: цех производства плавленых и творожных сыров и цех мелкой фасовки твердых сыров. Продукция производится на самом современном европейском оборудовании.</p>
    <div class="factory__facts">
      <h3 class="factory__facts-title">Объемы и мощности в месяц</h3>
      <ul class="factory__facts-list">
        <li class="factory__facts-list-item">
          <div class="factory__facts-list-item-text">
            <div class="factory__facts-list-item-value title-h3">1 500 тонн</div>
            <div class="factory__facts-list-item-name text-norm">плавленых сыров</div>
          </div>
          <img src="img/content/facts-1.svg" alt="" class="factory__facts-list-item-icon">
        </li>
        <li class="factory__facts-list-item">
          <div class="factory__facts-list-item-text">
            <div class="factory__facts-list-item-value title-h3">940 тонн</div>
            <div class="factory__facts-list-item-name text-norm">творожного сыра</div>
          </div>
          <img src="img/content/facts-2.svg" alt="" class="factory__facts-list-item-icon">
        </li>
        <li class="factory__facts-list-item">
          <div class="factory__facts-list-item-text">
            <div class="factory__facts-list-item-value title-h3">1 530 тонн</div>
            <div class="factory__facts-list-item-name text-norm">сыров мелкой фасовки</div>
          </div>
          <img src="img/content/facts-3.svg" alt="" class="factory__facts-list-item-icon">
        </li>
      </ul>
    </div>
  </div>
</section>
@@include("source/html/components/quote.html")
<section class="gallery">
  <div class="gallery__slider swiper">
    <div class="swiper-wrapper">
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/factory.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <p class="gallery__slide-subtitle title-h5">Производственные цеха</p>
            <h3 class="gallery__slide-title title-h3">Участок упаковки сыра</h3>
            <p class="gallery__slide-description text-norm">Состоит из двух линий, позволяющих упаковывать сыр в пленку, используя технологии вакуумирования.</p>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/factory.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <p class="gallery__slide-subtitle title-h5">Производственные цеха</p>
            <h3 class="gallery__slide-title title-h3">Участок упаковки сыра</h3>
            <p class="gallery__slide-description text-norm">Состоит из двух линий, позволяющих упаковывать сыр в пленку, используя технологии вакуумирования.</p>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/factory.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <p class="gallery__slide-subtitle title-h5">Производственные цеха</p>
            <h3 class="gallery__slide-title title-h3">Участок упаковки сыра</h3>
            <p class="gallery__slide-description text-norm">Состоит из двух линий, позволяющих упаковывать сыр в пленку, используя технологии вакуумирования.</p>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="years years--reverse years--yellow">
  <div class="years__slide">
    <div class="container">
      <div class="years__photo-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/content/gallery-1.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
          <div class="swiper-slide">
            <img src="img/content/history.png" alt="" class="years__slide-img" width="960" height="700">
          </div>
        </div>
      </div>
      
      <div class="years__slide-text">
        <h3 class="years__slide-title title-h3">История завода</h3>
        <div class="years__slide-years swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">2023</div>
            <div class="swiper-slide">2022</div>
            <div class="swiper-slide">2021</div>
            <div class="swiper-slide">2020</div>
            <div class="swiper-slide">2019</div>
            <div class="swiper-slide">2018</div>
            <div class="swiper-slide">2017</div>
            <div class="swiper-slide">2016</div>
            <div class="swiper-slide">2015</div>
          </div>
          <div class="swiper-navigation">
            <button class="years__slide-navigation-btn years__slide-navigation-btn--prev"></button>
            <button class="years__slide-navigation-btn years__slide-navigation-btn--next"></button>
          </div>
        </div>

        <div class="years__text-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск производства сухой сыворотки</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2022</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2021</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2020</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2019</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2018</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2017</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2016</li>
              </ul>
            </div>
            <div class="swiper-slide">
              <ul class="years__slide-list">
                <li class="years__slide-list-item">Запуск завода в г. Орел. 2015</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>