<section class="geography">
  <img src="img/content/map.svg" alt="" class="geography__bg" width="1380" height="900">
  <div class="container">
    <h2 class="geography__title title-h2">География продаж</h2>
    <div class="geography__wrapper">
      <div class="geography__column">
        <p>Группа компаний «Сыробогатов» — федеральный поставщик собственной продукции, входящий в число крупнейших в стране. Наш сыр есть не только в каждом городе России, но и в других странах: в Казахстане, Узбекистане, Беларуси, Кыргызстане, Армении и Азербайджане.</p>
      </div>
      <div class="geography__column">
        <p>Товары представлены в крупнейших федеральных торговых сетях, таких как «Магнит», «Пятерочка», «Перекресток», «Лента», «Дикси», «Метро», «Ашан», «Верный», в онлайн-магазинах «Озон», «Самокат», «ЯндексЛавка», а также сервисах доставки продуктов, включая «Сбермаркет» и «МаркетДеливери» и другие.</p>
      </div>
    </div>
    <p class="geography__subtitle title-h4">Более чем в 80% магазинов по всей стране вы найдете вкуснейшие сыры и сливочное масло от бренда «Сыробогатов»</p>
    <div class="geography__indicators">
      <h3 class="geography__indicators-title title-h5">Цифры по приросту продаж в 2023 году</h3>
      <h4 class="geography__indicators-list-title title-h4">Плавленые сыры +40% за 2023 год</h4>
      <ul class="geography__indicators-list">
        <li class="geography__indicator">
          <div class="geography__indicator-value title-h2">+ 93%</div>
          <div class="geography__indicator-description text-norm">прирост ломтевого сыра</div>
        </li>
        <li class="geography__indicator">
          <div class="geography__indicator-value title-h2">+ 56%</div>
          <div class="geography__indicator-description text-norm">прирост пастообразного сыра</div>
        </li>
      </ul>
      <h4 class="geography__indicators-list-title title-h4">Твёрдые и полутвердые +32% за 2023 год</h4>
      <ul class="geography__indicators-list">
        <li class="geography__indicator">
          <div class="geography__indicator-value title-h2">№2</div>
          <div class="geography__indicator-description text-norm">в России по объему производства слайсерной нарезки</div>
        </li>
        <li class="geography__indicator">
          <div class="geography__indicator-value title-h2">+ 45%</div>
          <div class="geography__indicator-description text-norm">прирост в слайсерной нарезке</div>
        </li>
        <li class="geography__indicator">
          <div class="geography__indicator-value title-h2">+ 40%</div>
          <div class="geography__indicator-description text-norm">прирост брусков в твердом сыре</div>
        </li>
      </ul>
    </div>
    <div class="geography__list-wrapper">
      <h3 class="geography__indicators-title title-h5">Торговые сети и онлайн сервисы</h3>
      <a href="#" class="geography__link btn btn--dark">Выбрать и купить</a>
    </div>
  </div>
</section>