<section class="geography geography--main">
  <img src="img/content/map.svg" alt="" class="geography__bg" width="1380" height="900">
  <div class="container">
    <h2 class="geography__title title-h2">География продаж</h2>
    <div class="geography__wrapper">
      <p class="geography__subtitle title-h4">Нашу продукцию любят во всей России и за ее пределами</p>
      <div class="geography__column">
        <p>Группа компаний «Сыробогатов» — федеральный поставщик собственной продукции, входящий в число крупнейших в стране. Наш сыр есть не только в каждом городе России, но и в других странах: в Казахстане, Узбекистане, Беларуси, Кыргызстане, Армении и Азербайджане.</p>
      </div>
      <div class="geography__column geography__column--more">
        <p>Товары представлены в крупнейших федеральных торговых сетях, таких как «Магнит», «Пятерочка», «Перекресток», «Лента», «Дикси», «Метро», «Ашан», «Верный», в онлайн-магазинах «Озон», «Самокат», «ЯндексЛавка», а также сервисах доставки продуктов, включая «Сбермаркет» и «МаркетДеливери» и другие.</p>
      </div>
      <a href="#" class="geography__link btn btn--dark">Узнать больше</a>
    </div>
    <div class="geography__list-wrapper">
      <h3 class="geography__list-title">Сетевые магазины</h3>
      <ul class="geography__list">
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-1.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-2.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-3.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-4.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-5.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-more">
            <img src="img/content/navigation-btn-dark.svg" alt="" class="geography__list-more-icon" width="60" height="60">
          </a>
        </li>
      </ul>
    </div>
    <div class="geography__list-wrapper">
      <h3 class="geography__list-title">Онлайн маркеты</h3>
      <ul class="geography__list">
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-6.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-7.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-8.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-9.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-item-link">
            <img src="img/content/geography-logo-10.png" alt="" class="geography__list-item-logo" width="260" height="100">
          </a>
        </li>
        <li class="geography__list-item">
          <a href="#" class="geography__list-more">
            <img src="img/content/navigation-btn-dark.svg" alt="" class="geography__list-more-icon" width="60" height="60">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>