<section class="products">
  <div class="container">
    <h2 class="products__title title-h2">Институт сыродела</h2>
    <p class="products__description text-norm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <div class="products__controls">
      <button class="products__control is-active title-h4">Экскурсии</button>
      <button class="products__control title-h4">Лекции</button>
      <button class="products__control title-h4">Приглашаем эксперта</button>
    </div>
  </div>
  <div class="products__gallery gallery gallery--reverse">
    <div class="gallery__slider swiper">
      <div class="swiper-wrapper">
        <div class="gallery__slide swiper-slide">
          <div class="container">
            <img src="img/content/gallery-3.png" alt="" class="gallery__slide-img" width="960" height="700">
            <div class="gallery__slide-text">
              <p class="gallery__slide-subtitle title-h5">Направления</p>
              <h3 class="gallery__slide-title title-h3">Экскурсии на производство</h3>
              <p class="gallery__slide-description text-norm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
              <a href="#" class="gallery__slide-link btn btn--dark">Записаться</a>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="gallery__slide swiper-slide">
          <div class="container">
            <img src="img/content/gallery-2.png" alt="" class="gallery__slide-img" width="960" height="700">
            <div class="gallery__slide-text">
              <img src="img/content/gallery-slide-logo.svg" alt="" class="gallery__slide-logo" width="260" height="71">
              <p class="gallery__slide-description text-norm">Визитная карточка и гордость нашей группы компаний! Под этим брендом мы выпускаем плавленые и полутвердые сыры, а также сливочное масло. Все продукты изготовлены по традиционным рецептам из лучших ингредиентов.</p>
              <ul class="gallery__slide-variants">
                <li class="gallery__slide-variant">ТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПОЛУТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПЛАВЛЕНЫЕ</li>
                <li class="gallery__slide-variant">ТВОРОЖНЫЕ</li>
                <li class="gallery__slide-variant">РАССОЛЬНЫЕ</li>
              </ul>
              <a href="#" class="gallery__slide-link btn btn--dark">Перейти на сайт</a>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="gallery__slide swiper-slide">
          <div class="container">
            <img src="img/content/gallery-2.png" alt="" class="gallery__slide-img" width="960" height="700">
            <div class="gallery__slide-text">
              <img src="img/content/gallery-slide-logo.svg" alt="" class="gallery__slide-logo" width="260" height="71">
              <p class="gallery__slide-description text-norm">Визитная карточка и гордость нашей группы компаний! Под этим брендом мы выпускаем плавленые и полутвердые сыры, а также сливочное масло. Все продукты изготовлены по традиционным рецептам из лучших ингредиентов.</p>
              <ul class="gallery__slide-variants">
                <li class="gallery__slide-variant">ТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПОЛУТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПЛАВЛЕНЫЕ</li>
                <li class="gallery__slide-variant">ТВОРОЖНЫЕ</li>
                <li class="gallery__slide-variant">РАССОЛЬНЫЕ</li>
              </ul>
              <a href="#" class="gallery__slide-link btn btn--dark">Перейти на сайт</a>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</section>