<section class="main-about">
  <div class="container">
    <div class="main-about__wrapper">
      <div class="main-about__text">
        <h2 class="main-about__title title-h2">О компании</h2>
        <div class="main-about__subtitle-wrapper">
          <p class="main-about__subtitle title-h5">Группа компаний «Сыробогатов» —<br> лидер на российском рынке сыроделия</p>
        </div>
        
        <p class="main-about__description text-norm">Мы создаем продукты из первоклассного сырья, сосредотачиваясь на их качестве и пользе. Наша миссия — производить вкусный, качественный и полезный продукт, создавая культуру потребления сыров в России.</p>
        <a href="#" class="main-about__link btn">Узнать больше</a>
      </div>
      <img src="img/content/123.png" alt="" class="main-about__photo" width="960" height="700">
    </div>
  </div>
</section>