<section class="map">
  <div class="container">
    <div class="map__text">
      <h2 class="map__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
      <p class="map__description text-norm">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
    <img src="img/content/map.png" alt="" class="map__image" width="1100" height="717">
  </div>
</section>