<div class="stories__card">
  <img src="img/content/stories-3.png" alt="" class="stories__card-photo" width="140" height="140">
  <p class="stories__card-date">01.01.2024</p>
  <p class="stories__card-description">
    Здесь цитата специалиста или ключевая фраза из интервью. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
  </p>
  <div class="stories__card-bottom">
    <div class="stories__card-name">Александра Иващенко</div>
    <div class="stories__card-position">Специалист ГК «Сыробогатов»</div>
  </div>
  <div class="stories__card-questions">
    <div class="stories__card-question">
      <div class="stories__card-question-title">Вопрос 1</div>
      <div class="stories__card-question-answer">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      </div>
    </div>
    <div class="stories__card-question">
      <div class="stories__card-question-title">Вопрос 2</div>
      <div class="stories__card-question-answer">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      </div>
    </div>
  </div>
</div>