<section class="press">
  <div class="container">
    <h2 class="press__title title-h2">Пресс-центр</h2>
    <div class="press__links">
      <a href="#" class="press__link is-active">Все публикации</a>
      <a href="#" class="press__link">Новости</a>
      <a href="#" class="press__link">Видео</a>
      <a href="#" class="press__link">Видео о компании</a>
    </div>
    <div class="press__cards">
      <a href="#" class="press__card">
        <img src="img/content/press.svg" class="press__card-img" width="400" height="250" />
        <div class="press__card-text">
          <div class="press__card-date">30 сентября 2023</div>
          <div class="press__card-title">ГК «Сыробогатов» стала одним из лидеров в рейтинге крупнейших производителей сыра!</div>
          <div class="press__card-more">Читать дальше</div>
        </div>
      </a>
      <a href="#" class="press__card">
        <img src="img/content/press.svg" class="press__card-img" width="400" height="250" />
        <div class="press__card-text">
          <div class="press__card-date">30 сентября 2023</div>
          <div class="press__card-title">ГК «Сыробогатов» стала одним из лидеров в рейтинге крупнейших производителей сыра!</div>
          <div class="press__card-more">Читать дальше</div>
        </div>
      </a>
      <a href="#" class="press__card">
        <img src="img/content/press.svg" class="press__card-img" width="400" height="250" />
        <div class="press__card-text">
          <div class="press__card-date">30 сентября 2023</div>
          <div class="press__card-title">ГК «Сыробогатов» стала одним из лидеров в рейтинге крупнейших производителей сыра!</div>
          <div class="press__card-more">Читать дальше</div>
        </div>
      </a>
      <a href="#" class="press__card">
        <img src="img/content/press.svg" class="press__card-img" width="400" height="250" />
        <div class="press__card-text">
          <div class="press__card-date">30 сентября 2023</div>
          <div class="press__card-title">ГК «Сыробогатов» стала одним из лидеров в рейтинге крупнейших производителей сыра!</div>
          <div class="press__card-more">Читать дальше</div>
        </div>
      </a>
    </div>
    <div class="press__pagination">
      <a href="#" class="press__pagination-link is-disabled">Назад</a>
      <a href="#" class="press__pagination-link is-active">1</a>
      <a href="#" class="press__pagination-link">2</a>
      <a href="#" class="press__pagination-link">3</a>
      <div class="press__pagination-dots">...</div>
      <a href="#" class="press__pagination-link">6</a>
      <a href="#" class="press__pagination-link">Далее</a>
    </div>
  </div>
</section>