<section class="privilege">
  <div class="container">
    <h2 class="privilege__title title-h5">Преимущества</h2>
    <div class="privilege__wrapper">
      <p class="privilege__description">
        Мы ценим каждого нашего сотрудника и стараемся, чтобы у наших сотрудников были хорошие условия труда и возможность проявить себя.
      </p>
      <img src="img/content/o.svg" alt="" class="privilege__logo" width="91" height="138">
    </div>
    <div class="privilege__slider swiper">
      <div class="swiper-wrapper">
        <div class="privilege__slide swiper-slide">
          <h3 class="privilege__slide-title title-h5">Мы предоставляем:</h3>
          <p class="privilege__slide-description">
            Расширенный пакет льгот и бенефитов (материальная помощь, бесплатное питание, корпоративное обучение, подарки детям сотрудников на Новый год, подарки первоклассникам и пр.).
          </p>
          <img src="img/content/privilege-1.svg" alt="" class="privilege__slide-icon">
        </div>
        <div class="privilege__slide swiper-slide">
          <h3 class="privilege__slide-title title-h5">Мы предоставляем:</h3>
          <p class="privilege__slide-description">
            Возможность работать рядом с домом.
          </p>
          <img src="img/content/privilege-2.svg" alt="" class="privilege__slide-icon">
        </div>
        <div class="privilege__slide swiper-slide">
          <h3 class="privilege__slide-title title-h5">Мы предоставляем:</h3>
          <p class="privilege__slide-description">
            Достойное вознаграждение.
          </p>
          <img src="img/content/privilege-3.svg" alt="" class="privilege__slide-icon">
        </div>
        <div class="privilege__slide swiper-slide">
          <h3 class="privilege__slide-title title-h5">Мы предоставляем:</h3>
          <p class="privilege__slide-description">
            Официальное трудоустройство с первого дня работы.
          </p>
          <img src="img/content/privilege-4.svg" alt="" class="privilege__slide-icon">
        </div>
        <div class="privilege__slide swiper-slide">
          <h3 class="privilege__slide-title title-h5">Мы предоставляем:</h3>
          <p class="privilege__slide-description">
            Возможность развиваться по выбранной карьерной траектории.
          </p>
          <img src="img/content/privilege-5.svg" alt="" class="privilege__slide-icon">
        </div>
        <div class="privilege__slide swiper-slide">
          <h3 class="privilege__slide-title title-h5">Мы предоставляем:</h3>
          <p class="privilege__slide-description">
            Работу в команде единомышленников.
          </p>
          <img src="img/content/privilege-6.svg" alt="" class="privilege__slide-icon">
        </div>
        <div class="privilege__slide swiper-slide">
          <h3 class="privilege__slide-title title-h5">Мы предоставляем:</h3>
          <p class="privilege__slide-description">
            Доставку персонала.
          </p>
          <img src="img/content/privilege-7.svg" alt="" class="privilege__slide-icon">
        </div>
        <div class="privilege__slide swiper-slide">
          <h3 class="privilege__slide-title title-h5">Мы предоставляем:</h3>
          <p class="privilege__slide-description">
            Насыщенную корпоративную жизнь.
          </p>
          <img src="img/content/privilege-8.svg" alt="" class="privilege__slide-icon">
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation__btn swiper-navigation__btn--prev"></button>
        <button class="swiper-navigation__btn swiper-navigation__btn--next"></button>
      </div>
    </div>
  </div>
</section>