<section class="products products--main">
  <div class="container">
    <h2 class="products__title title-h2">Продукция</h2>
    <p class="products__subtitle title-h4">Разнообразные сыры на любой вкус</p>
    <p class="products__description text-norm">Ассортимент наших сыров придется по вкусу самым взыскательным покупателям. Широкий ассортимент способен удовлетворить предпочтения как рядовых покупателей, так и представителей сферы ритейла и HoReCa.</p>
    <div class="products__controls">
      <button class="products__control is-active title-h4">Сыробогатов</button>
      <button class="products__control title-h4">Король сыров</button>
      <button class="products__control title-h4">Орловские сыры</button>
      <button class="products__control title-h4">Аристократ</button>
    </div>
  </div>
  <div class="products__gallery gallery gallery--reverse">
    <div class="gallery__slider swiper">
      <div class="swiper-wrapper">
        <div class="gallery__slide swiper-slide">
          <div class="container">
            <img src="img/content/gallery-2.png" alt="" class="gallery__slide-img" width="960" height="700">
            <div class="gallery__slide-text">
              <img src="img/content/gallery-slide-logo.svg" alt="" class="gallery__slide-logo" width="260" height="71">
              <p class="gallery__slide-description text-norm">Визитная карточка и гордость нашей группы компаний! Под этим брендом мы выпускаем плавленые и полутвердые сыры, а также сливочное масло. Все продукты изготовлены по традиционным рецептам из лучших ингредиентов.</p>
              <ul class="gallery__slide-variants">
                <li class="gallery__slide-variant">ТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПОЛУТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПЛАВЛЕНЫЕ</li>
                <li class="gallery__slide-variant">ТВОРОЖНЫЕ</li>
                <li class="gallery__slide-variant">РАССОЛЬНЫЕ</li>
              </ul>
              <a href="#" class="gallery__slide-link btn btn--dark">Перейти на сайт</a>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="gallery__slide swiper-slide">
          <div class="container">
            <img src="img/content/gallery-2.png" alt="" class="gallery__slide-img" width="960" height="700">
            <div class="gallery__slide-text">
              <img src="img/content/gallery-slide-logo.svg" alt="" class="gallery__slide-logo" width="260" height="71">
              <p class="gallery__slide-description text-norm">Визитная карточка и гордость нашей группы компаний! Под этим брендом мы выпускаем плавленые и полутвердые сыры, а также сливочное масло. Все продукты изготовлены по традиционным рецептам из лучших ингредиентов.</p>
              <ul class="gallery__slide-variants">
                <li class="gallery__slide-variant">ТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПОЛУТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПЛАВЛЕНЫЕ</li>
                <li class="gallery__slide-variant">ТВОРОЖНЫЕ</li>
                <li class="gallery__slide-variant">РАССОЛЬНЫЕ</li>
              </ul>
              <a href="#" class="gallery__slide-link btn btn--dark">Перейти на сайт</a>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="gallery__slide swiper-slide">
          <div class="container">
            <img src="img/content/gallery-2.png" alt="" class="gallery__slide-img" width="960" height="700">
            <div class="gallery__slide-text">
              <img src="img/content/gallery-slide-logo.svg" alt="" class="gallery__slide-logo" width="260" height="71">
              <p class="gallery__slide-description text-norm">Визитная карточка и гордость нашей группы компаний! Под этим брендом мы выпускаем плавленые и полутвердые сыры, а также сливочное масло. Все продукты изготовлены по традиционным рецептам из лучших ингредиентов.</p>
              <ul class="gallery__slide-variants">
                <li class="gallery__slide-variant">ТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПОЛУТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПЛАВЛЕНЫЕ</li>
                <li class="gallery__slide-variant">ТВОРОЖНЫЕ</li>
                <li class="gallery__slide-variant">РАССОЛЬНЫЕ</li>
              </ul>
              <a href="#" class="gallery__slide-link btn btn--dark">Перейти на сайт</a>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="gallery__slide swiper-slide">
          <div class="container">
            <img src="img/content/gallery-2.png" alt="" class="gallery__slide-img" width="960" height="700">
            <div class="gallery__slide-text">
              <img src="img/content/gallery-slide-logo.svg" alt="" class="gallery__slide-logo" width="260" height="71">
              <p class="gallery__slide-description text-norm">Визитная карточка и гордость нашей группы компаний! Под этим брендом мы выпускаем плавленые и полутвердые сыры, а также сливочное масло. Все продукты изготовлены по традиционным рецептам из лучших ингредиентов.</p>
              <ul class="gallery__slide-variants">
                <li class="gallery__slide-variant">ТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПОЛУТВЁРДЫЕ</li>
                <li class="gallery__slide-variant">ПЛАВЛЕНЫЕ</li>
                <li class="gallery__slide-variant">ТВОРОЖНЫЕ</li>
                <li class="gallery__slide-variant">РАССОЛЬНЫЕ</li>
              </ul>
              <a href="#" class="gallery__slide-link btn btn--dark">Перейти на сайт</a>
              <div class="gallery__slide-controls">
                <div class="gallery__slide-pagination"></div>
                <div class="gallery__slide-navigation">
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                  <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</section>