<section class="article">
  <div class="container">
    <div class="article__text">
      <h2 class="article__title title-h2">Производство</h2>
      <p class="article__subtitle title-h4">Собственное производство — гарантия лучшего качества от «Сыробогатов»</p>
      <p class="article__description text-norm">
        ГК «Сыробогатов» — холдинг, включающий в себя два современных производственных центра, оснащенных оборудованием мирового уровня.<br><br>

        На производстве четко соблюдаются технологические процессы, строго контролируется каждый этап работы. Использование передовых методов стерилизации упаковки и обработки помещений УФ-лучами обеспечивает безопасность наших продуктов. Каждая партия подвергается тщательному анализу. Все образцы сохраняются в специальной библиотеке до истечения срока годности для проверки качества и вкусовых характеристик выпускаемого продукта.
      </p>
    </div>
    <img src="img/content/map-1.png" alt="" class="article__photo" width="960" height="800">
    <!-- <video src="videos/1.mp4" alt="" class="article__photo" width="960" height="800" muted="muted" playsinline autoplay loop></video> -->
  </div>
</section>
<section class="gallery">
  <div class="gallery__slider swiper">
    <div class="swiper-wrapper">
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/gallery-1.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <p class="gallery__slide-subtitle title-h5">Производственные площадки</p>
            <h3 class="gallery__slide-title title-h3">Верхняя Пышма</h3>
            <p class="gallery__slide-description text-norm">Завод, специализирующийся на производстве плавленых и творожных сыров.</p>
            <a href="#" class="gallery__slide-link btn btn--dark">Узнать больше</a>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/gallery-1.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <p class="gallery__slide-subtitle title-h5">Производственные площадки</p>
            <h3 class="gallery__slide-title title-h3">Верхняя Пышма</h3>
            <p class="gallery__slide-description text-norm">Завод, специализирующийся на производстве плавленых и творожных сыров.</p>
            <a href="#" class="gallery__slide-link btn btn--dark">Узнать больше</a>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>