<section class="publication">
  <div class="container">
    <h2 class="publication__title title-h3">ГК «Сыробогатов» стала одним из лидеров в рейтинге крупнейших производителей сыра!</h2>
    <div class="publication__date">30 сентября 2023</div>
    <div class="publication__text">
      <div class="publication__column">ГК «Сыробогатов» приняла участие в ежегодной выставке ПРОДЭКСПО, которая прошла в Москве на площадке ЦВК «Экспоцентр» с 6 по 10 февраля. Это была наша восьмая по счету выставка.</div>
      <div class="publication__column">
        «Участие в выставках позволяет получить много полезных связей и контактов, которые в свою очередь дают возможность расширять географию поставок продукции и продолжать развивать наши бренды. Также на полях выставки создана отличная возможность для проведения встреч с нашими действующими партнерами из разных уголков как нашей страны, так и стран, в которые мы экспортируем свою продукцию. Как показывает практика участия в прошлых выставках – большая часть новых контактов в дальнейшем становятся нашими партнерами, с которыми мы плодотворно сотрудничаем».<br><br>

        <b>Илья Марьин, руководитель отдела дистрибуции</b>
      </div>
    </div>
    <div class="publication__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/content/publication.svg" alt="" class="publication__img" width="1660" height="900">
        </div>
        <div class="swiper-slide">
          <img src="img/content/publication.svg" alt="" class="publication__img" width="1660" height="900">
        </div>
        <div class="swiper-slide">
          <img src="img/content/publication.svg" alt="" class="publication__img" width="1660" height="900">
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-navigation-btn swiper-navigation-btn--prev"></button>
        <button class="swiper-navigation-btn swiper-navigation-btn--next"></button>
      </div>
    </div>
  </div>
</section>