<section class="quote">
  <div class="container">
    <p class="quote__subtitle">От первого лица</p>
    <p class="quote__main">
      Мы построили завод, который не имеет аналогов в России. Но это не предел, мы продолжаем каждый день работать над нашим производством. К 2025 году наши мощности вырастут в 2 раза.
    </p>
    <div class="quote__person">
      <img src="https://via.placeholder.com/160x160/" alt="" class="quote__person-photo">
      <div class="quote__person-text">
        <div class="quote__person-name">Александр Шадрин</div>
        <div class="quote__person-position">Генеральный директор ГК «Сыробогатов»</div>
      </div>
    </div>
  </div>
</section>