<section class="quote">
  <div class="container">
    <p class="quote__subtitle">Миссия</p>
    <p class="quote__main">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    </p>
    <div class="quote__bottom">
      <div class="quote__list-wrapper">
        <h3 class="quote__list-title">Наши ценности</h3>
        <ul class="quote__list">
          <li class="quote__list-item">Честность</li>
          <li class="quote__list-item">Осознанность</li>
          <li class="quote__list-item">Экологичность</li>
          <li class="quote__list-item">Уважение</li>
          <li class="quote__list-item">Семья</li>
        </ul>
      </div>
      <div class="quote__person">
        <img src="https://via.placeholder.com/160x160/" alt="" class="quote__person-photo">
        <div class="quote__person-text">
          <div class="quote__person-name">Александр Шадрин</div>
          <div class="quote__person-position">Генеральный директор ГК «Сыробогатов»</div>
        </div>
      </div>
    </div>
  </div>
</section>