<section id="about" class="quote quote--career">
  <div class="container">
    <p class="quote__description text-norm">
      Трудоустройство в&nbsp;&laquo;Сыробогатов&raquo;&nbsp;&mdash; это работа в&nbsp;крупной, динамичной и&nbsp;надёжной компании с&nbsp;25-летним стажем развития, возможностями для обучения и&nbsp;карьерного роста.
    </p>
    <p class="quote__subtitle">Миссия</p>
    <p class="quote__main">
      Мы&nbsp;строим бизнес с&nbsp;любовью к&nbsp;стране&nbsp;&mdash; с&nbsp;любовью к&nbsp;сыру.
    </p>
    <div class="quote__bottom">
      <div class="quote__list-wrapper">
        <h3 class="quote__list-title text-norm">Наши ценности</h3>
        <ul class="quote__list text-norm">
          <li class="quote__list-item">Честность</li>
          <li class="quote__list-item">Осознанность</li>
          <li class="quote__list-item">Экологичность</li>
          <li class="quote__list-item">Уважение</li>
          <li class="quote__list-item">Семья</li>
        </ul>
      </div>
      <div class="quote__person">
        <img src="https://via.placeholder.com/160x160/" alt="" class="quote__person-photo">
        <div class="quote__person-text">
          <div class="quote__person-name">Александр Шадрин</div>
          <div class="quote__person-position">Генеральный директор ГК «Сыробогатов»</div>
        </div>
      </div>
    </div>
  </div>
</section>