<section id="students" class="gallery">
  <div class="gallery__slider swiper">
    <div class="swiper-wrapper">
      <div class="gallery__slide swiper-slide">
        <div class="container">
          <img src="img/content/students.png" alt="" class="gallery__slide-img" width="960" height="700">
          <div class="gallery__slide-text">
            <h3 class="gallery__slide-title gallery__slide-title--yellow title-h3">Студентам и&nbsp;молодым специалистам</h3>
            <p class="gallery__slide-subtitle gallery__slide-subtitle--dark title-h5">Начните карьеру в&nbsp;&laquo;Сыробогатов&raquo;</p>
            <p class="gallery__slide-description text-norm">Мы&nbsp;поддерживаем студентов в&nbsp;стремлении к&nbsp;профессиональному и&nbsp;рабочему росту. Мало опыта? У&nbsp;нас есть обучение, наставничество и&nbsp;широкие возможности для развития.</p>
            <button class="gallery__slide-link btn btn--dark" data-open-modal="feedback-more">Заяви о себе</button>
            <div class="gallery__slide-controls">
              <div class="gallery__slide-pagination"></div>
              <div class="gallery__slide-navigation">
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--prev"></button>
                <button class="gallery__slide-navigation-btn gallery__slide-navigation-btn--next"></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>