<section id="vacancies" class="vacancies">
  <div class="container">
    <h2 class="vacancies__title title-h3">Вакансии</h2>
    <div class="vacancies__directions">
      <h3 class="vacancies__directions-title text-norm">Все направления</h3>
      <ul class="vacancies__directions-list text-norm">
        <li class="vacancies__directions-item">
          <a href="#" class="vacancies__directions-item-link is-active">Производство</a>
        </li>
        <li class="vacancies__directions-item">
          <a href="#" class="vacancies__directions-item-link">Логистика</a>
        </li>
        <li class="vacancies__directions-item">
          <a href="#" class="vacancies__directions-item-link">Продажи</a>
        </li>
      </ul>
      <div class="vacancies__directions-select custom-select" data-select>
        <span class="custom-select__label"></span>
        <span class="custom-select__error"></span>
        <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
          <span class="custom-select__text"></span>
          <span class="custom-select__icon"></span>
        </button>
        <ul class="custom-select__list">
          <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Все направления</li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-3">Санкт-Петербург</li>
        </ul>
      </div>
    </div>
    <div class="vacancies__cities">
      <h3 class="vacancies__cities-title">Выберите город из списка:</h3>
      <div class="vacancies__cities-select custom-select custom-select--2" data-select>
        <span class="custom-select__label"></span>
        <span class="custom-select__error"></span>
        <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
          <span class="custom-select__text"></span>
          <span class="custom-select__icon"></span>
        </button>
        <ul class="custom-select__list">
          <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Санкт-Петербург</li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-3">Санкт-Петербург</li>
        </ul>
      </div>
    </div>
    <ul class="vacancies__list">
      <li class="vacancies__item">
        <h4 class="vacancies__item-title">Вакансия в две строки. Ограничение кол-ва символов</h4>
        <p class="vacancies__item-city">Верхняя Пышма</p>
        <p class="vacancies__item-description">Описание вакансии в 1-2-3 строки. Ограничение количества символов.</p>
        <a href="#" class="vacancies__item-link btn btn--dark">Подробнее</a>
      </li>
      <li class="vacancies__item">
        <h4 class="vacancies__item-title">Наименование вакансии</h4>
        <p class="vacancies__item-city">Верхняя Пышма</p>
        <p class="vacancies__item-description">Описание вакансии в 1-2-3 строки. Ограничение количества символов.</p>
        <a href="#" class="vacancies__item-link btn btn--dark">Подробнее</a>
      </li>
      <li class="vacancies__item">
        <h4 class="vacancies__item-title">Вакансия в две строки. Ограничение кол-ва символов</h4>
        <p class="vacancies__item-city">Верхняя Пышма</p>
        <p class="vacancies__item-description">Описание вакансии в 1-2-3 строки. Ограничение количества символов.</p>
        <a href="#" class="vacancies__item-link btn btn--dark">Подробнее</a>
      </li>
      <li class="vacancies__item">
        <h4 class="vacancies__item-title">Вакансия в две строки. Ограничение кол-ва символов</h4>
        <p class="vacancies__item-city">Верхняя Пышма</p>
        <p class="vacancies__item-description">Описание вакансии в 1-2-3 строки. Ограничение количества символов.</p>
        <a href="#" class="vacancies__item-link btn btn--dark">Подробнее</a>
      </li>
      <li class="vacancies__item">
        <h4 class="vacancies__item-title">Вакансия в две строки. Ограничение кол-ва символов</h4>
        <p class="vacancies__item-city">Верхняя Пышма</p>
        <p class="vacancies__item-description">Описание вакансии в 1-2-3 строки. Ограничение количества символов.</p>
        <a href="#" class="vacancies__item-link btn btn--dark">Подробнее</a>
      </li>
      <li class="vacancies__item">
        <h4 class="vacancies__item-title">Вакансия в две строки. Ограничение кол-ва символов</h4>
        <p class="vacancies__item-city">Верхняя Пышма</p>
        <p class="vacancies__item-description">Описание вакансии в 1-2-3 строки. Ограничение количества символов.</p>
        <a href="#" class="vacancies__item-link btn btn--dark">Подробнее</a>
      </li>
    </ul>
    <div class="vacancies__pagination">
      <a href="#" class="vacancies__pagination-link is-disabled">Назад</a>
      <a href="#" class="vacancies__pagination-link is-active">1</a>
      <a href="#" class="vacancies__pagination-link">2</a>
      <a href="#" class="vacancies__pagination-link">3</a>
      <div class="vacancies__pagination-dots">...</div>
      <a href="#" class="vacancies__pagination-link">6</a>
      <a href="#" class="vacancies__pagination-link">Далее</a>
    </div>
  </div>
</section>