.container {
  width: 100%;
  margin: 0 auto;
  @include adaptiveFull('padding-left', 130, 36, 16);
  @include adaptiveFull('padding-right', 130, 36, 16);

  @media (max-width: 1920px) {
    max-width: 1920px;
  }
}
